@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    transition: background-color 2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
  }
  
  .schedule-container.data-saved {
    background-color: #7fff7f; /* Change to your desired confirmation color */
  }

  .confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #06BC9B;
    font-size: 50px;
    font-weight: 400;
    color: #fff; /* Text color */
    padding: 15px;
    width: 300px; /* Adjust width as needed */
  height: 250px; /* Adjust height as needed */
  border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 2s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .description-container {
    margin-bottom: 10px;
    padding: 1rem;
  }

  .descriptionInput {
    width: 20rem;
    padding: 10px;
  }

  .saveButton {
    border-radius: 10px;
    background-color: #06BC9B;
    font-weight: 700;
    /* padding: 1em; */
    margin: 10px;
  }
  
  .schedule {
    margin: 1rem;
    display: inline-block;
    padding: 10px;
    width: 86%;
  }
  
  .my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-header,
  .table-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #654a4a;
  }
  
  
  
  /* Add any additional styling based on your preferences */
  
  .mytables {
    display: flex;
    justify-content: center;
}

.exCoButton {
    all: inherit;
    padding: 11px;
}

.exCoButton:hover{
    background-color: #c6f5ec;
}
  
  /* Add any additional styling based on your preferences */
  @media only screen and (max-width: 600px) {
    .description-container {
      margin-bottom: 10px;
      padding: 1rem;
    }
  
    .descriptionInput {
      width: 100%; /* Full width on smaller screens */
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  
    .saveButton {
      border-radius: 10px;
      background-color: #06BC9B;
      font-weight: 700;
      margin: 10px;
    }
  
    .schedule {
      margin: 1rem;
      display: inline-block;
      padding: 10px;
      width: 100%; /* Full width on smaller screens */
    }
  
    .my-table {
      border-collapse: collapse;
      width: 100%;
    }
  
    .table-header,
    .table-cell {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      background-color: #654a4a;
    }
  
    .mytables {
      display: flex;
      justify-content: center;
    }
  
    .exCoButton {
      all: inherit;
      padding: 11px;
    }
  
    .exCoButton:hover {
      background-color: #c6f5ec;
    }
  }