.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    transition: background-color 2s ease-in-out;
  }
  
  .schedule-container.data-saved {
    background-color: #7fff7f; /* Change to your desired confirmation color */
  }
  .description-container {
    margin-bottom: 10px;
    padding: 1rem;
  }

  .descriptionInput {
    width: 20rem;
    padding: 10px;
  }

  .saveButton {
    border-radius: 10px;
    /* padding: 1em; */
    margin: 10px;
  }
  
  .schedule {
    margin: 1rem;
    display: inline-block;
    padding: 10px;
    width: fit-content;
  }
  
  .my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-header,
  .table-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .schedule-dropdown {
    width: 1rempx;
  }
  
  /* Add any additional styling based on your preferences */
  
  .mytables {
    display: flex;
  }
  
  /* Add any additional styling based on your preferences */
  