h4.wList{
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 114, 90);
    border-radius: 10px;
    color: antiquewhite;
    text-align: initial;
}

.workEx{
    padding: 4.5em;
    margin-top: 1.5em;
}