.navbar {
	height: 80px;
	width: 100%;
	background: rgb(255, 255, 255);
	color: rgb(129, 129, 129);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 20px;
    font-weight: 600;
    text-shadow: #000;
    padding: 2.5rem;
    margin-bottom: 2em;
}


.nav-logo {
    text-decoration: none;
    font-size: 20px;
    color: rgb(129, 129, 129);
}

.nav-logo:hover {
    color: rgb(79, 223, 196);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
	padding: 0 30px 39px 30px;
	font-size: 1.5rem;
}

.nav-links, .nav-link-active-red:hover {
	color: rgb(79, 223, 196);
	text-decoration: none;
    padding: 1.5rem;
}

.nav-link,
.nav-logo,
a.nav-link {
    text-decoration: none;
    color: inherit;
    transition: 0.3s all;
    display: flex;
    align-items: center;
	color: rgb(129, 129, 129);
    padding: 1.5rem;
}

.nav-link-active-red {
    border-bottom: 2px solid #06BC9B;
    color:#06BC9B;
	display: flex;
    list-style: none;
    margin: 0;
	padding: 1.5rem;
	font-size: 1.5rem;
    text-decoration: none;
}


.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.my-apps-button {
    text-decoration: none;
    color: rgb(129, 129, 129);
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}

@media only screen and (max-width: 500px) {
    .navbar {
        position: relative;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 80px;
        left: -100%;
        transition: 0.5s all;
        z-index: 100;
        background: rgb(255, 255, 255);
    }

    .nav-links.active {
        background: rgb(255, 255, 255);
        left: 0;
    }

    .nav-link-active-red {
        padding-bottom: 5px;
        border-bottom: 2px solid #06BC9B;
        padding: 0 30px 18px 30px;
    }

    .nav-item {
        padding: 0 0 5px 0;
        border-bottom: 1px solid rgb(126, 126, 126);
    }

    .nav-icon {
        display: flex;
        padding-bottom: 40px;
    }

    .nav-logo {
        padding: 15px;
    }

    .nav-logo h2 {
        margin: 0;
    }
}
